<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Consumer</title>
    <script src="/js/sockjs.min.js" type="text/javascript"></script>
    <script src="/js/stomp.min.js" type="text/javascript"></script>
</head>

<body>
<h1>Consumer v.1.0.0</h1>
<button id="buttonClearMesssages" onclick="clear_Messages();">Clear messages</button>
<div id="msgDiv"></div>
<script type="text/javascript">
    var stompClient;
    function ws_Connect()
    {
        if (!stompClient) {
            const socket = new SockJS("/notifications");
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function () {

                stompClient.subscribe('/user/notification/item', function (response) {
                    console.log('Got ' + response);
                    ws_PringMsgFromBackend( JSON.parse(response.body).text );
                });

                console.info('connected!')
            });
        }
    }

    function ws_Disconnect()
    {
        if (stompClient) {
            stompClient.disconnect();
            stompClient = null;
            console.info("disconnected :-/");
        }
    }

    function ws_Start()
    {
        if (stompClient) {
            stompClient.send("/swns/start", {});
        }
    }

    function ws_Stop()
    {
        if (stompClient) {
            stompClient.send("/swns/stop", {});
        }
    }
    var g_nMsgNr = 1;
    function ws_PringMsgFromBackend( msg )
    {
        var msgDiv = document.getElementById('msgDiv');
        var div = document.createElement('div');
        div.innerHTML = '#' + (g_nMsgNr++) + ' - <b>' + msg + '</b>';
        msgDiv.appendChild( div );
    }
    ws_Connect();
    setTimeout( function () {
        ws_Start();
    }, 2000 );

    function clear_Messages()
    {
        var msgDiv = document.getElementById('msgDiv');
        while ( msgDiv.firstChild )
            msgDiv.removeChild( msgDiv.firstChild );
    }
</script>

</body>
</html>